@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
body {
    --highlight-color: #9333ea;
}

::selection {
    background: var(--highlight-color);
    color: white;
}

.long {
    font-stretch: ultra-condensed;
}